---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    font-size: 0.8em; // 본문 글자 크기 조정

}

.notice {
  font-size: 16px !important; // 기본 글씨 크기와 동일하게
  line-height: 1.6;
  
  // 특정 notice 타입별로 조정
  &--info {
    font-size: 16px !important;
  }
  
  &--warning {
    font-size: 16px !important;
  }
  
  &--success {
    font-size: 16px !important;
  }
  
  &--danger {
    font-size: 16px !important;
  }
}