/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 1em;
  margin-bottom: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* 반응형 레이아웃 */
  gap: 1.5em;
  /* 카드 간격 */

  @include breakpoint($large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-inline-end: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
  }

  &:hover img {
    transform: scale(1.02);
  }

  p{
    font-size: 11px;
  }



}

//홈 화면 "최근 포스트" font 
.archive__subtitle {
  margin: 0.75em 0;
  padding-bottom: 0.25em;
  font-size: 1.4em;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;

  +.list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

//홈페이지 작성 글 제목들
.archive__item-title {
  white-space: nowrap;
  font-size: 1.2em; 
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;


  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a {
    text-decoration-line: none;
  }

  a+a {
    opacity: 0.5;
  }


}

/* remove border*/
// .page__content {
//   .archive__item-title {
//     margin-top: 1em;
//     border-bottom: none;
//     color: #000;

//   }
// }


.page__content p {
  margin: 0 0 0.2rem;
  font-size: 0.8rem;
}

.archive__item-title a {
  color: #000;
}



.archive__item-excerpt {
  display: block;
  height: 1.8em; /* 부제목 칸 높이 고정 (1~2줄 제한) */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* 한 줄로 제한 */
  font-size: 1em; /* 부제목 폰트 크기 */
  color: #555; /* 부제목 색상 */

  // &+p {
  //   text-indent: 0;
  //   font-size: 1.2em;
  // }

  a {
    position: relative;
  }

  p{
    font-size: 10px;
  }
}


.archive__item-teaser {
  // position: relative;
  // border-radius: $border-radius;
  // overflow: hidden;

  // img {
  //   width: 100%;
  // }
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  display: flex;
  justify-content: center;

  background-color: mix(rgb(122, 122, 122), $background-color, 10%);
  backdrop-filter: blur(10px);
  width: 100%; //높이 비율 고정
  max-height: 10em;

  img {
    margin: auto;
    position: relative; //absolute;
    object-fit: fill;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: end;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
     List view
     ========================================================================== */

.list__item {
  position: relative;
  display: inline-block;
  justify-content: center;
  width: 50%;
  height: auto;

}

@media screen and (min-width: 600px) {
  .archive__item-teaser_list {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    margin-right: 0.5em;
    display: inline;
    justify-content: center;
    float: left;
    margin-bottom: 5px;

    background-color: mix(rgb(122, 122, 122), $background-color, 10%);
    backdrop-filter: blur(10px);
    width: 15em;
    max-height: 130px;
    text-align: center;
    vertical-align: middle;

    img {
      margin: auto;
      position: relative; //absolute;
      object-fit: contain;
      overflow: hidden;
      justify-content: center;
      transition: all 0.3s linear; //hover 시간 조정
    }

    @include breakpoint($small) {
      min-height: 130px;
      background-size: contain; //비율 강제 고정
    }

    @include breakpoint($medium) {
      background-size: contain; //비율 강제 고정
    }
  }
}

.archive__item-postbox {
  display: inline;
  padding-bottom: 0.25em;
  //float : left;
  clear: both;
  width: auto;
  vertical-align: middle;

  h2 {
    margin: 0 0 4px;
    padding-top: 5px;
  }
}

.archive__item-caption {
  position: relative; //absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
     Grid view
     ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-inline-end: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-inline-end: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;
  transition: all 0.2s linear; //hover 시간 조정
  backdrop-filter: blur(10px);
  height: 250px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;

  &:hover {
    border: 1px solid #151D6A;
    cursor: pointer;
    transition: border 0.4s ease;
  }


  @include breakpoint($small) {
    float: inline-start;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-inline-start: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-inline-start: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0;
    /* override margin*/
    margin-right: 0;
    /* override margin*/
    width: span(4 of 12);

    min-height: 12em; //추가

    &:nth-child(3n + 1) {
      clear: none;
      margin-inline-start: 0; // 앞쪽 여백 제거
    }

    &:nth-child(3n + 1) {
      clear: both;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-inline-start: gutter(1 of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-inline-start: gutter(1 of 12);
    }

    // &:nth-child(4n + 4) {
    //   clear: none;
    //   margin-inline-start: gutter(1 of 12);
    // }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .page__meta-sep {
    display: block;

    // &::before {
    //   display: none;
    // }
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {


    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }
  }
}

/*
     Features
     ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;

  .archive__item-title {
    margin-bottom: 0;
  }
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: inline-start;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-inline-start: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-inline-start: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-inline-start: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-inline: gutter(1 of 12);
  }

  a.btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  &--left,
  &--right {
    position: relative;
    margin-inline: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    a.btn::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }
  }

  &--left {
    float: inline-start;

    .archive__item {
      float: inline-start;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: inline-start;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: inline-end;
        width: span(7 of 12);
        padding-inline-start: gutter(0.5 of 12);
        padding-inline-end: gutter(1 of 12);
      }
    }
  }

  &--right {
    float: inline-end;

    .archive__item {
      float: inline-end;
    }

    @include breakpoint($small) {
      text-align: end;

      .archive__item-teaser {
        float: inline-end;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: inline-start;
        width: span(7 of 12);
        padding-inline-start: gutter(1 of 12);
        padding-inline-end: gutter(0.5 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: inline-start;
    margin-inline: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: inline-start;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
     Wide Pages
     ========================================================================== */

.wide {
  .archive {
    @include breakpoint($large) {
      padding-inline-end: 0;
    }

    @include breakpoint($x-large) {
      padding-inline-end: 0;
    }
  }
}

/* Place inside a single layout */

.layout--single {
  .feature__wrapper {
    display: inline-block;
  }
}